{% extends 'account/base.html' %}
{% block body %}
<body>
    <h5 id="alert" style="margin-left: 20px; margin-right: 20px; color: red;"></h5>
    <script>
        console.log("Working")
        flag = {{ flag }}
        if (flag == 1) {
            message = "{{ message }}"
            document.getElementById("alert").innerHTML = message
        }
    </script>
        <form method="POST">
        {% csrf_token %}
        <fieldset style="margin-left: 20px; margin-right: 20px;">
            <legend style="font-family: 'Oswald', sans-serif;">Add New Password.</legend>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Website</label>
                <input type="text" class="form-control" name="website" id="inputDefault" placeholder="Enter Website">
            </div>
            <div class="form-group">
                <label  class="col-form-label" for="inputDefault1">Username</label>
                <input type="text" class="form-control" id="inputDefault1" name="email" placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="exampleInputPassword">Password</label>
                <input type="password" class="form-control"  name="password" id="exampleInputPassword" placeholder="Enter Password">
                <small class="form-text text-muted">We'll never share your password with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-primary">ADD</button>
        </div>
        </fieldset>
    </form>
    <button type="submit" class="btn btn-primary" onClick="location.href='{% url 'profile' id %}'" style="float: right; margin-right: 20px;">BACK TO PROFILE</button>

</body>
{% endblock %}