<html>
<body>
 <div class="row row-buffer">
            <div class="col-sm-11" style="">
                {% for line in info %}
                    <h4 style="margin-left: 50px; line-height: 40px;">
                        {% for x in line%}
                            {{ x }}&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endfor %}
                        <hr style="height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);">
                    </h4>
                {% endfor %}
            </div>
        </div>
</body>


</html>