{% load staticfiles %}

<html>
<head>
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <style>
        #header
        {
            font-family: 'EB Garamond', serif;
            display: block;
            margin: 0px;
            padding: 0px;
            height: 30%;
            background-color: black;
        }
    </style>
</head>
<body style="margin: 0px; padding: 0px;">
    <div class="page-header" id="header">
        <h1 style="color: White; margin-left: 30px; padding: 30px; padding-bottom: 0px; margin-bottom: 0px;">Password Case</h1>
        <h3 style="color: Yellow; margin-left: 30px; padding: 30px; padding-top: 0px; margin-top: 0px;">Your suitcase to store all your passwords securely.</h3>
    </div>
    <table style="width:100%">
        <tr>
            <td>
                <div style="margin: 0px; padding: 0px;">
                    <image src="{% static '/account/home.jpg' %}"/>
                </div>
            </td>
            <td>
                <div>
                    <form method="POST" class="post-form" style="text-align: left">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="save btn btn-default">Save</button>
                        <h4>Already registered?</h4>
                        <button type="submit" class="save btn btn-default">Click Here</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>