{% load staticfiles %}

<html>
<head>
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <style>
        #header
        {
            font-family: 'EB Garamond', serif;
            display: block;
            margin: 0px;
            padding: 0px;
            height: 25%;
            background-color: black;
        }
    </style>
</head>
<body style="margin: 0px; padding: 0px;">
    <div class="page-header" id="header">
        <image style="margin-top: 30px;" src = "{% static '/account/icon.jpg' %}"/>
        <h3 style="color: Yellow; margin-left: 40px; margin-top: 0px;">Your suitcase to store all your passwords securely.</h3>
    </div>
    <h1 style="font-family: 'Oswald', sans-serif; margin-left: 20px;">Create an account.</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            <div>
            <h4><label>Enter your name: </label>{{ form.username }}</h4>
            <h4><label>Enter Password: </label>{{ form.password }}</h4>
            <h4><label>Enter your phone number: </label>{{ form.phone_number }}</h4>
            <h4><label>ans1: </label>{{ form.answer1 }}</h4>
            <h4><label>ans2: </label>{{ form.answer2 }}</h4>
            <h4><label>ans3: </label>{{ form.answer3 }}</h4>
            <h4><label>ans4: </label>{{ form.answer4 }}</h4>
            <h4><label>ans5: </label>{{ form.answer5 }}</h4>
            <button type="submit" class="btn btn-info btn-block" onClick="location.href='{% url 'login' %}'">Find</button>
            </div>
        </form>
    </div>
</body>
</html>